* {
  box-sizing: border-box;
}

body {
}
.headers h1 {
  background-image: url('../image/pattern.jpeg');
  font-family: helvetica;
  font-size:  100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
} 

.col {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
  background-color: mediumspringgreen;
}
.frame {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
